@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
  html{
    scroll-behavior:smooth;
  }
  body{
    font-family: 'Montserrat', sans-serif;
  }
  ::-webkit-scrollbar {
    height: 15px;
    width: 11px;
  }
  ::-webkit-scrollbar-thumb {
    background: #E6C120;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

} 